---
import { cn } from '@/lib/utils';
import { Button } from '@/components/ui/button';
import GitHubSVG from '@/components/icons/github.svg';

type Props = {
  href: string;
  buttonClassName?: string;
}

const { href, buttonClassName = "" } = Astro.props;
---

<a href={href} target="_blank">
  <Button client:load variant="link" className={cn("px-3 py-0 h-8 bg-[#212121] hover:bg-[#292929] rounded-md border-[0.5px]", buttonClassName)}>
    <GitHubSVG height={16} width={16} />
    <span class="pl-2 tracking-wide">GitHub</span>
  </Button>
</a>
