---
import { cn } from '@/lib/utils';
import { Button } from '@/components/ui/button';

type Props = {
  href: string;
  buttonClassName?: string;
}

const { href, buttonClassName = "" } = Astro.props;
---

<a href={href} target="_blank">
  <Button client:load variant="link" className={cn("px-3 py-0 h-8 bg-[#212121] hover:bg-[#292929] rounded-md border-[0.5px]", buttonClassName)}>
    <div class="w-3 h-3 bg-[#63b681] animate-pulse border-2 border-black rounded-full" />
    <span class="pl-2 tracking-wide">Live</span>
  </Button>
</a>
