---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "@/layouts/BackLayout.astro";

export const getStaticPaths = ( async () => {
  const blogEntries = await getCollection('blogs');
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={`${entry.data.title} | Buffington's Blog`} href="/blog" pTitle={entry.data.title} pSubtitle={entry.data.subtitle}>
  <div class="md:w-[672px] flex flex-col gap-4">
    <div class="prose dark:prose-invert prose-p:text-[#d3d3d4]">
      <Content />
    </div>
  </div>
</Layout>
