---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import { AnimatedLinkButton, ContactButton, GitHubButton, LinkedInButton, MailButton, TwitterButton } from '@/components/projects/buttons';
import FeaturedProjectCard from '@/components/projects/featured-project-card';
import ServiceCard from '@/components/service-card';
import { PORTRAIT_SRC } from '@/image-urls';

const featuredProjects = (await getCollection("projects", (project) => project.data.featured))
	.sort((p1, p2) => p1.data.priority - p2.data.priority)
	.reverse();

	const services: Service[] = [
		{
			title: "MVP Development",
			description: "Turn your idea into a working product so you can get real user feedback fast",
			image: "/service-thumbnails/mvp-2.jpg",
			details: [
				"Turn raw ideas into a usable v1 fast",
				"Clarify scope and nail the core user flow",
				"Build a clean UI that's easy to iterate on",
				"Launch quickly with a foundation that scales"
			],
			calLink: "https://cal.com/cbuffington/mvp-development"
		},
		// {
		// 	title: "Engineering Consultation",
		// 	description: "Help your team ship faster and work happier",
		// 	image: "/service-thumbnails/consulting-2.jpg",
		// 	details: [
		// 		"Remove dev friction with better tooling and docs",
		// 		"Simplify architecture without losing flexibility",
		// 		"Automate repeat work to speed releases",
		// 		"Tune performance before it becomes costly"
		// 	],
		// 	calLink: "https://cal.com/cbuffington/engineering-consultation"
		// },
		{
			title: "AI Product Integrations",
			description: "Leverage AI to enhance your product, delight your users, and increase your bottom line",
			image: "/service-thumbnails/consulting-2.jpg",
			details: [
				"Identify high-value AI use cases in your product",
				"Rapidly prototype AI features that solve real user pain",
				"Design UX that makes AI feel helpful, not magical",
				"Connect AI to your data securely and cleanly"
			],
			calLink: "https://cal.com/cbuffington/engineering-consultation"
		},
		{
			title: "Full-Time Engineering",
			description: "Recruit a problem obsessed, easy to work with engineer who drives product forward, not just tickets",
			image: "/service-thumbnails/fulltime-2.jpg",
			details: [
				"Own features end-to-end with product context",
				"Build durable systems that scale with demand",
				"Ship quickly without cutting quality corners",
				"Partner with customers to shape what matters"
			],
			calLink: "https://cal.com/cbuffington/new-engineering-role"
		}
	]

---

<Layout title="Charles Buffington">
	<!-- HEADLINE -->
	<section id="about" class="relative flex flex-col-reverse lg:flex-row items-center px-2">
		<article class="max-w-[600px] lg:pt-20 flex flex-col justify-center items-center lg:items-start gap-3">
			<div class="flex flex-col justify-center items-center gap-0.5 lg:items-start pt-5 lg:pt-6">
				<h1 class="text-2xl lg:text-[40px] lg:leading-10 font-merriweather font-bold bg-clip-text">Charles Buffington II</h1>
				<h2 class="text-white/80 text-sm lg:text-xl">Full Stack Software Engineer</h2>
			</div>
			<p class="hidden sm:block text-white/60 text-center lg:text-start text-sm lg:text-base">
				Product-oriented engineer focused on customer-driven iteration and developer productivity, building high-impact web products at startup speed without sacrificing quality.
				Currently living in <a href="https://maps.app.goo.gl/HGJqpsgaUhTTWXMT6" target="_blank" class="underline hover:text-white/90">Michigan, USA</a>.
				Open to relocation 👀
			</p>
			<p class="block sm:hidden px-0.5 text-white/60 text-center lg:text-start text-sm lg:text-base">
				Product-oriented engineer focused on customer-driven iteration and developer productivity, building high-impact web products at startup speed without sacrificing quality.
				Currently living in <a href="https://maps.app.goo.gl/HGJqpsgaUhTTWXMT6" target="_blank" class="underline hover:text-white/90">Michigan, USA</a>.
			</p>
			<!-- TODO: Tech Stack -->
			<nav class="flex flex-row gap-3">
				<GitHubButton className="size-9" />
				<LinkedInButton className="size-9" />
				<TwitterButton className="size-9" />
				<MailButton className="size-9" />

				<div></div>

				<!-- <AnimatedLinkButton label="more about me" href="/about" /> -->
			</nav>
		</article>

		<aside class="relative h-[330px] lg:h-[600px] overflow-visible rounded-full">
			<div class="backdrop-blur absolute bottom-44 right-1 bg-transparent -z-10 rounded-full"></div>
			<div class="relative w-[300px] h-[450px] flex flex-wrap select-none pointer-events-none gap-0">
				<div class="hidden lg:block absolute z-10" style="opacity: 1; transform: translateX(50px) translateY(190px) translateZ(0px);">
					<img src={PORTRAIT_SRC} alt="portrait of Charles Buffington" class="rounded-lg rotate-2">
				</div>
				<div class="block lg:hidden absolute z-10" style="transform: translateY(50px);">
					<img src={PORTRAIT_SRC} alt="portrait of Charles Buffington" class="scale-75 rounded-lg">
				</div>
			</div>
		</aside>
	</section>

	<!-- FEATURED PROJECTS -->
	<section id="projects" class="pt-24 pb-32 flex flex-col items-center justify-center">
		<div class="flex flex-col gap-3 px-4 text-center sm:px-1 sm:pt-10">
			<h1 class="text-neutral-100 text-3xl font-bold bg-clip-text">My Projects</h1>
			<span class="text-white/60 text-base italic">Just a few of the things I've built over the years</span>
		</div>

		<div class="min-h-52 w-full max-w-7xl grid gap-8 md:grid-cols-2 pt-12 pb-6 px-3 sm:px-8">
			{featuredProjects.map((project) => (
				<div class="max-w-lg">
					<FeaturedProjectCard project={project} />
				</div>
			))}
		</div>

		<AnimatedLinkButton label="See All Projects" href="/projects" />
	</section>

	<!-- MY SERVICES -->
	<section id="services" class="pt-0 pb-0 sm:pt-24 sm:pb-20 flex flex-col items-center justify-center">
		<div class="container mx-auto px-4">
			<h2 class="text-neutral-100 text-3xl font-bold text-center mb-3">My Services</h2>
			<p class="text-center text-white/60 text-base italic mb-12 max-w-2xl mx-auto">
				Here are all of the ways that I can help YOU
			</p>

			<div class="max-w-7xl md:max-w-full grid grid-cols-1 lg:grid-cols-3 gap-x-6 gap-8 px-1 sm:px-4">
				{services.map((service) => (
					<ServiceCard service={service} />
				))}
			</div>

			<div class="text-center pt-12 sm:pt-24">
				<p class="text-base mb-4 text-white/60">Ready to discuss your project?</p>
				<ContactButton label="Let's Chat" />
			</div>
		</div>
	</section>

	<!-- TODO: Client Testimonials (after i get clients or coworker testimonials) -->
</Layout>
