---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { Separator } from "@/components/ui/separator";
import { ProjectCard } from "@/components/projects/project-card";

const allProjects = (await getCollection("projects", (project) => !project.data.hidden))
  .sort((p1, p2) => p1.data.priority - p2.data.priority)
  .reverse();
---

<Layout title="Charles Buffington's Projects">
  <div class="w-full max-w-2xl pt-6 px-4 flex flex-col space-y-4">
    <section class="pt-1.5 flex flex-col space-y-1">
      <h3 class="text-2xl sm:text-3xl font-bold">
        My Projects
      </h3>
      <span class="text-base text-muted-foreground">
        Some of the projects I've worked on over the years
      </span>
    </section>

    <Separator />

    <div class="flex flex-col gap-4">
      {allProjects.map((project) => (
        <ProjectCard project={project} />
      ))}
    </div>
  </div>
</Layout>