---
import { ArrowRight } from '@lucide/astro';
import { Button } from '@/components/ui/button';

interface Props {
  label: string;
  href: string;
}

const { label, href } = Astro.props;
---

<a href={href} class="group/test">
  <Button variant="outline" className="border-none bg-[#1C1C1C] group-hover/test:bg-[#222222] text-white/75 group-hover/test:text-white">
    <span class="group-hover/test:underline group-hover/test:underline-offset-1">{label}</span>
    <div class="mx-0.5" />
    <div class="group-hover/test:translate-x-1 duration-200 ease-in">
      <ArrowRight stroke-width={1.0} size={24} />
    </div>
  </Button>
</a>
